.card_total card_small{
    
    background-color: aqua;
}
body{
    background-color: lightblue;
}
.tab1{
    background-color: rgb(255, 139, 7);
    width: 100%;
    height: 90px;
    font-size: 30px;
}
.tab1:hover{
    font-size: 35px;

}
.tab2{
    background-color:aliceblue;
    width: 100%;
    height: 90px;
}
.tab2:hover{
    font-size: 30px;
    background-color: white;
}
.tab3{
    background-color:aliceblue;
    width: 100%;
    height: 90px;
}
.tab3:hover{
    font-size: 30px;
    background-color: white;
}
.tab4{
    background-color:rgb(7, 245, 26);
    width: 100%;
    height: 90px;
}
/* .tab4:hover{
    font-size: 30px;
    background-color: aliceblue;
} */

