
.card_total card_small{
    
    background-color: aqua;
}
body{
    background-color: lightblue;
}
.tab1{
    background-color: rgb(255, 139, 7);
    width: 100%;
    height: 90px;
    font-size: 30px;
}
.tab1:hover{
    font-size: 35px;

}
.tab2{
    background-color:aliceblue;
    width: 100%;
    height: 90px;
}
.tab2:hover{
    font-size: 30px;
    background-color: white;
}
.tab3{
    background-color:aliceblue;
    width: 100%;
    height: 90px;
}
.tab3:hover{
    font-size: 30px;
    background-color: white;
}
.tab4{
    background-color:rgb(7, 245, 26);
    width: 100%;
    height: 90px;
}
/* .tab4:hover{
    font-size: 30px;
    background-color: aliceblue;
} */

.fa-1x {
    font-size: 1.5rem;
    }
    .navbar-toggler.toggler-example {
    cursor: pointer;
    }
    .dark-blue-text {
    color: #0A38F5;
    }
    .dark-pink-text {
    color: #AC003A;
    }
    .dark-amber-text {
    color: #ff6f00;
    }
    .dark-teal-text {
    color: #004d40;
    }

    .dropdown-menu {
        height: 400px;

        overflow-y: scroll;
      }
   
     /* .drop2{
         background-color: #ff6f00;
         
         border: 1px solid orange;
         border-radius: 10px 10px;
     }
     .drop1{
        background-color:orange;
        border: 1px solid orange;
        border-radius: 10px 10px;
    } */
.action1{
    background-color: cadetblue;
   
}
select{
    border: 5px solid blue;
    height: 70px;
    
}
option{
    font-size: 20px;
}
ul{
    background-color: orange;
    font-size: 25px;
}